/*SELECCION UNIVERSAL*/
/*PONER ESTO POR DEFAULT*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*SELECTOR DE ETIQUETA*/

/*FUENTE DE GOOGLE FONT*/
.outfit-NFDANIELA{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


body{ 
    background-color: rgb(7, 67, 139);
    font-family: "Outfit", sans-serif;
    font-weight: 100;
    font-style: normal;   
}

main{
    /*Ajustar las tarjetas a varias lineas*/
    display: flex;
    flex-wrap: wrap;
}

h1 {color: 
    goldenrod;
    text-align: center;
    margin: 20px;
}

/*SELECTOR DE TIPO: CLASE*/
/*Reutilizar el codigo*/

.Tarjeta {
    width: 380px;
    background-color: dimgray;
    border-radius: 3%;
    /*CENTRAR ELEMENTOS*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 25px;
    border: dotted rgb(255, 132, 0);
    transition: all 0.4s ease-in-out; /*TRANSICION SUAVE*/
}

/*PSEUDOCLASE HOVER PARA CREAR EFECTOS*/
.Tarjeta:hover {
    background-color: rgb(56, 132, 203);
    transform: scale(1.05);
    transform: rotate(3deg);
}



.Tarjeta .CAJA-CONTENEDORA {
    width: 200px;
    height: 220PX;
}

.Tarjeta img {
    width: 250px;
    object-fit: cover;
    border-radius: 5%;
    margin-top: 15px;
    padding: 10px;
}

.Tarjeta p{
    color: rgb(18, 24, 36);
    font-size: 20px;
}

/*SELECTOR DE TIPO ID*/
/*ES UNICO*/

#Logistica {
    color: crimson;
}

#Transporte {
    color: rgb(76, 63, 192);
}

#Cadena-de-Suministro {
    color: darkmagenta;
}

#Calidad {
    color: mediumspringgreen;
}